/* Coolors Exported Palette - coolors.co/008dd5-ff6978-f9f6f1-aa8f66-616163 */

/* HSL */
$color1: hsla(200%, 100%, 42%, 1);
$color2: hsla(354%, 100%, 71%, 1);
$color3: hsla(38%, 40%, 96%, 1);
$color4: hsla(36%, 29%, 53%, 1);
$color5: hsla(240%, 1%, 38%, 1);

/* RGB */
$color1: rgba(0, 141, 213, 1);
$color2: rgba(255, 105, 120, 1);
$color3: rgba(249, 246, 241, 1);
$color4: rgba(170, 143, 102, 1);
$color5: rgba(97, 97, 99, 1);